.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5px; 
    font-family: 'Inter', sans-serif;

}
.countdown {
    font-size: 9em;
}


.intro {
    font-size: 3em;
}

.acts {
    font-size: 1em;
}